   <hr id="hr-line" class="p-0 m-0"width="100%">
   <a class="" href="https://www.instagram.com/rohit18ranjan/"> Follow me on 
            <i class="fab fa-instagram"></i>
    </a>
    
    </body>
</html>
