<!DOCTYPE html>
<html>
    <head>
        <title>My Photo blog</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" type = "text/css" href="/stylesheets/main.css">
        <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css"> -->
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">
    </head>
    <script src="https://kit.fontawesome.com/027c8cef30.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/027c8cef30.js" crossorigin="anonymous"></script>
    <body>
        <nav id="menu" class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">my <i class="fas fa-camera-retro"></i>blog</a>
            <a class="navbar-brand" href="/blogs/new"><i class="fas fa-cloud-upload-alt"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarnav" class="collapse navbar-collapse float-right">
                <ul class="navbar-nav">
                    <% if(!currentUser){ %>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/register">Sign Up</a>
                        </li> <% } else{ %>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Signed In as <%=currentUser.username%></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    <%}%> 
                </ul>
            </div>
        </nav>
        <div class="container"> 
            <% if(error && error.length > 0){ %>
                <div class=" alert alert-danger" role="alert">
                    <%= error %>
                </div>        
            <% } %>
            <% if(success && success.length > 0){ %>
            <div class=" alert alert-success" role="alert">
                <%= success %>
            </div>  
            <% } %>
        </div>
 