<!-- <img src="https://lh3.googleusercontent.com/pw/ACtC-3d54MiHkKm2fxlN4g_Toaes41SL_GCri62OXACUF20zZtHbjQz8EaLeyqOgtrtS574pmq8k2xuX6epBWFvidFYGZxQzCHlzWwZY_JjyVUph90gendI-CkXHzdhSc6tClylkK4h89Pe_PPOsjJuDuZLWgA=s1058-no?authuser=1" style="width:100%"> -->
<!-- <img src="https://lh3.googleusercontent.com/pw/ACtC-3eYnTLZ0zeqNhRQdqR9qGtxyW51x82vKNJsyuW_RdehCWZtOJkuFTULxbnr2Ub0wGFhr3_ojV5FJ_4WxFP4XJu4CdPbkLqSO7-sr_l7htyQC7EzF13HFuXG44Ng2lgFqlusp63eFjsu_Y2yqjDHkzS3Mg=w794-h1058-no?authuser=1" style="width:100%"> -->
<!-- <img src="https://lh3.googleusercontent.com/pw/ACtC-3dyZL9AsAIx5edcz2ojCb7laM6Vrqmqhoi0gXzmBNhVMPpBPlOJCrgslO6Az9U1uRd_WUPH-alTDhpjI0LpOOsv4gcD_X5czHBcbg1Q0B0LxZJ0i90aNKLtaoJ3aAHxi8Q5Px9LZ2Lt5Sbwg5QHr-Vnqw=w1024-h768-no?authuser=1" style="width:100%"> -->
<!DOCTYPE html>
<html>
    <head>
        <title>My Photo blog</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="stylesheets/landing.css">
    </head>
    <script src="https://kit.fontawesome.com/027c8cef30.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <body>
        <div class="container-fluid ">
            <div class="row">
                <div class="col-lg-3 home-left text-center">
                    <!-- <img src="../img/dp.jpg"> not loading --> 
                    <img class="rounded-circle img-thumbnail p-0 my-4 " src="https://lh3.googleusercontent.com/9iG8Y22y_dYepu66OmGW0cXhpi_C28jauoODVhImZ-unFB922Z_o7kdOee2crIBZWtxLUGQQSulOzZMIGGCgbfxyTHHI9exPFf2dXjhqEBRyzcWEmd4s_cKwzY7sz662kQZmQsCVzoHgSBCXF8h7jQt0gXIbt9uv89MV962pLD2JR-jGtWZwBJgK067TK_mSiT-U2U8L9MU98eGGXHe2iVx8DAt4kk99K_Dt7S6yqS5leMWOD4KVgR8TL_svayxyaN6ANxPD6qwBrHsQqPep1DbiBu_sfieIKNmPzQrgWOzzPz68PnrJakJE4deqY6CfH4iklkHwwux9xHbiPlg3L-lvAn6fYtBE6VY7zV6G3D8JeSOYfAn3TKol_Dz6P8frGznM2QC2EC8c7A0gi7UNpjmLSWUjb5hCtaYVNfmwiUcqpQs-Fl9uzK4lcNI4-eNKC5nJJhdCQJPUvxvM4ZE15_wofm0t3-Fjkyu0cJ7bTPXKeuNwVYKKiGy9wcMt4Y5e8bgdTZfMO27mAf1H7nQixCf8lPtbwe5x7gKgGk68iyQuq0FYvc6Mz3_HQJWSSzdsthOP1ONyyJdBDHsLAz520J09msLFYHY27g0hdXTdw_8Xec4S80nSvHyBhlbHNnp96sFJNTCsyUFzcTKpxoVUnOKOrLRAW_FhnZHGxR-l8oAfLticKmixqx5tujiMaw=s224-no?authuser=1">
                    <h4 class="font-italic font-weight-bold text-wrap"> Rohit Ranjan</h4>
                    <h4 class="font-italic text-wrap"> Data Analyst</h4>
                    <div class="row d-flex justify-content-center">
                        <i class="fab fa-instagram fa-2x m-2"></i>
                        <i class="fab fa-github fa-2x m-2"></i>
                        <i class="fab fa-twitter-square fa-2x m-2"></i>   
                    </div>
                    <div class="row d-flex justify-content-center">
                        <a  href="#" class="btn btn-outline-light">Download my CV</a>
                    </div>
                </div>
                <div class="col-lg-9 home-right  m-0 p-0">
                    <!-- <h4 class="font-italic font-weight-bold text-wrap"> Rohit Ranjan</h4> -->
                    <!-- ======================= slider part start ======================= -->
                    <div id="demo" class="carousel slide" data-ride="carousel">

                        <!-- Indicators -->
                        <ul class="carousel-indicators">
                          <li data-target="#demo" data-slide-to="0" class="active"></li>
                          <li data-target="#demo" data-slide-to="1"></li>
                          <li data-target="#demo" data-slide-to="2"></li>
                        </ul>
                        
                        <!-- The slideshow -->
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="https://lh3.googleusercontent.com/pw/ACtC-3d54MiHkKm2fxlN4g_Toaes41SL_GCri62OXACUF20zZtHbjQz8EaLeyqOgtrtS574pmq8k2xuX6epBWFvidFYGZxQzCHlzWwZY_JjyVUph90gendI-CkXHzdhSc6tClylkK4h89Pe_PPOsjJuDuZLWgA=s1058-no?authuser=1" alt="Los Angeles" width="1100" height="500">
                            <div class="text">Caption One</div>
                        </div>
                          <div class="carousel-item">
                            <img src="https://lh3.googleusercontent.com/pw/ACtC-3eYnTLZ0zeqNhRQdqR9qGtxyW51x82vKNJsyuW_RdehCWZtOJkuFTULxbnr2Ub0wGFhr3_ojV5FJ_4WxFP4XJu4CdPbkLqSO7-sr_l7htyQC7EzF13HFuXG44Ng2lgFqlusp63eFjsu_Y2yqjDHkzS3Mg=w794-h1058-no?authuser=1" alt="Chicago" width="1100" height="500">
                            <div class="text">Caption Two</div>  
                        </div>
                          <div class="carousel-item">
                            <img src="https://lh3.googleusercontent.com/pw/ACtC-3dyZL9AsAIx5edcz2ojCb7laM6Vrqmqhoi0gXzmBNhVMPpBPlOJCrgslO6Az9U1uRd_WUPH-alTDhpjI0LpOOsv4gcD_X5czHBcbg1Q0B0LxZJ0i90aNKLtaoJ3aAHxi8Q5Px9LZ2Lt5Sbwg5QHr-Vnqw=w1024-h768-no?authuser=1" alt="New York" width="1100" height="500">
                            <div class="text">Caption Three</div>  
                        </div>
                        </div>
                        
                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#demo" data-slide="prev">
                          <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#demo" data-slide="next">
                          <span class="carousel-control-next-icon"></span>
                        </a>
                      </div>
                <!-- ======================= slider part ends ======================= -->
                </div>
            </div>
        </div>


    <script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
    showSlides(slideIndex += n);
    }

    function currentSlide(n) {
    showSlides(slideIndex = n);
    }

    function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    if (n > slides.length) {slideIndex = 1}    
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";  
    }
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block"; 
    slides[slideIndex-1].style.opacity = 1;
    dots[slideIndex-1].className += " active";
    }
    </script>

</body>
</html> 