 body {
  height:100%;
  font-family: "Nunito",Verdana, sans-serif;
  background: #f7f7f7;
}

.main-body{
  height: 100px;
}

 .home-left{
  background-color:grey;
  color: white;
  height: 100vh;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px
}

/* .home-right{
 background-color:black;
 color: white;
 height: 100vh;
 border-top-right-radius: 50px;
 border-bottom-right-radius: 50px
} */

/* .img-thumbnail{ */
  /* height:200px!important; */
  /* width:200px!important; */
  /* align-self: flex-end; */
/* } */

/* ===================================slider start===================================  */
.carousel-inner img {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 25px;
  width: 100%;
  text-align: center;
}
