body {
    height:100%;
    font-family: "Nunito", sans-serif;
    background: #f7f7f7;
 }

#landing-header {
   font-weight: 100;
   font-size: 2.5rem;
}

.inline-link{
    float: left;
    /* color: blue; */
}

#delete-form{
  display: inline !important;
}

/* 3 dots pattern start */
.three-dots{
  /* display: inline-block; */
  float: right;
}


.three-dots:after {
  cursor: pointer;
  color: black;
  content: '\2807';
  font-size: 20px;
  padding: 0 5px;
  float: right;
  /* pointer-events: none; */
  /* display: inline-block; */
}

/* a {
  text-decoration: none;
  color: white;
} */

a div {
  padding: 2px;
}

.dropdown {
  position: absolute;
  opacity: 0;
  z-index: 1;
  background-color: white;
  right: 40px;
  outline: none;
  max-height: 0;
  transition: opacity 0.1s;
  max-height: 5s;
}
.dropdown-container{
  display: block;
  float: right;
}

.dropdown-container:focus {
  outline: none;
}

.dropdown-container:focus .dropdown {
  opacity: 1;
  z-index: 100;
  max-height: 100vh;
  transition: opacity 0.2s;
  z-index :0.2s;
  max-height: 0.2s;
}
/* 3 dots part end */

.comment-background{
  background-color:grey
}

.btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
}
.card-img-top{
    height: 200px !important; 
}

a { color: inherit; } 

#auth{
    padding-left: 600px;
}
#quote{
    color:whitesmoke;
    /* font-weight: 800; */
    font-size:0.5em;
    font-family: 'Cedarville Cursive', cursive;
}

.thumbnail {
    position: relative;
}

.thumbnail:after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.6) 100%) repeat 0 0;
    z-index: 1;
    }

.caption {
    position: absolute;
    top: 75%;
    left: 0;
    width: 100%;
    color: #fff;
    font-family: 'Cedarville Cursive', cursive;
    z-index: 2;
    } 

#name {
        display: none;
    }

.show-bkg{
  background-image: url('../images/show_background.jpg');
   
}

.show-body{
  padding-top:100px 
}

.image-body img{
  height: 100%;
  width: 100%;
  max-height: 800px;
  /* max-width: 800px; */
}

.story{
  /* background-image: url('https://lh3.googleusercontent.com/KZiTiS19OzwZ6qK8nUJAl4CX59K1MR3LnEWn9-FcybpTmI_w901r2rTvrlNmE9S2R7JYzRv3m3VqOB0QY4hW5RwPwTne7w747ISWD8EDba056eKguOcFPdio5BTemhTDt3r-JD0MQ3SAREkPmtUAB04Gm3Z5M5frfoipivfUIakb2AiDBAtS59Ly4SpB7l1WEPt6LY6cPGoxHZ8XU8Vo1Qjmh-sSs9g_gtGYTWZGkJUPoQOJzxhKX9zXUmHWykidJ6MHC-5PD71UEl9J2NB9eiVzfMBM92ttc2btmbd_CTYpyeqvqAejKQ6jxnD41_T8hmBRMs5hH9f_MryQRjlBt4BViTmmZWcHHlSM5SuqMiWRhBtDBL6ajdjLPRVF_DQWU7ZpuT_uys87i4CxX8AvGdGPiY57Ho_gNk2GE_lnawyPr9Oka4lDPs_FwAysaA1ZOsQKr4CFfoeaCX9cDQx5PGhE8_l-cGrWY5TNmB1Z5vJS8CZ3-lOttZ3QZhN9Brlu81H84sH32Y9K0PmxTm-jvAG5-l9DtIVL_76buajmtIQ8YnFH7FBx5jbBJU24ookFRj0DISBygyIUVr7XU5VfixS_bz6dWv-PGRy6grdSd7YMsuvw8qoJmZd1eFHwf-lO_7ptG2xYcN0SbeYVEYynbQM113JmN1h53q9U95RgQg6pzxDXVJ9I-9PiqNSWEQ=w650-h600-no?authuser=1');
  height: 600px;
  width: 100%; */
  font-family: 'Gamja Flower', cursive;
  font-size: x-large;
}

#thumbnail:hover #name {
        display:block;
    }

#menu {
    position:fixed;
    top:0px;
    width:100%; 
    height:auto; 
    background-color:#DDDDDD;
    color: #FFFFFF;
    z-index:9999;
    display:none;
}
/* id */
#menu_new {
  /* fixing the error of overlapping div causing hiding of flash msg */
  /* position:fixed; */
  top:0px;
  width:100%; 
  height:auto; 
  background-color:#DDDDDD;
  color: #FFFFFF;
  z-index:9999;
  /* display:none; */
}

.display{
    display:inline-flex ;
}

/* class */
.masonryholder {
    column-count:4;
    column-gap: 0px;  
 }

.masonryblock{
    display: inline-block;
    column-gap: 0px;  
    padding: 0px;
    width: auto;
    box-sizing: border-box;
}

.masonryblock img {
    width: 100%;
}


 @media (max-width: 768px) {
    .masonryholder {
        column-count:1;}
 }

 @media (min-width: 769px) {
   .masonryholder {
        column-count:2;}
 }
 @media (min-width: 1080px) {
    .masonryholder {
        column-count:3;
   }
 }
 @media (min-width: 1200px) {
    .masonryholder {
       column-count:4;
   }
 }


 /* LANDING PAGE  CSS */
  #navbarnav{
      display: inline-flex!important;
      /* display: inline-block !important; */
      text-align-last: right;
  }


  .container{
    height: 100%;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    background-position: center;
    top: 0;
    z-index: -1;
}


  #landing-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 40vh;
    height: 100%;
    display:block;
    height:600px;
  }
  
  #landing-header {
    color: #fff;
  }
  
  .slideshow { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .slideshow li { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite; 
  }
  
  .slideshow li:nth-child(1) { 
    /* background-image: url(https://lh3.googleusercontent.com/ZnX6r9BrSJ8QBsy5Bo6mCOrFsbi52_xZ_wXsUhJNdRO4cBHKYPbL8OVNNb3Q9jS1gjYmlIJSd0y9PMWUhJOfrAaC7Pr3iatpeNNYGp82Q87UrEdpPrSu2HNVrWCQeI9sTh5kEuRPgk9Vc7qzdbmGYiDjEdDp1hfkrWNN-8KpQFohIKvf_dteollJU4BPYUQwb3qwHp4GcpTcUTIsVPgPFXvkBhCsTtT3H1i0wL0Fr9Gk8cdahMg1JgNpA_0CUL7U0QRPk0lK-NLSQ3Si2-Atw10_Bm_qY7lmNqU9DV7l-eFgMzdnF0KIi3DR-XTFxKmuY_a7Q0yVJUjOaRctoUk9pcSbkL8AJ3ZNA-f8fIJhA0qM72IcUNzYYKdfEt80ykTVqXV5KHGu9mbJ2o3FwHIHflvO-9jghkwtLY4y0uLzWZ_Js5ioh3YP3inaZNWnLmANVJVISAe9TBVgn16TOA6mVeXptk8AWByABwV5Pol38Ww-TL9H7DMzetMM5YZ0IsLZFggH5c8hSLjbwuEAHXnkjR6FddeR5bvykL14AyYCW2d2MC6F1YLIkTkjp2hFQT_6GD65vgrOnMIviFeI_wUVGVHsZ3Hr9b8lGnDa8Injx3Z-Vyvsy3mKLh-yoR2BDkK0e4BQuE2sKyT5SaP417kbaFLRQJ2jCuHObOEkUp-cu1BPQNjo0wm0gVKwCOA_Kw=w347-h462-no?authuser=1); */
    background-image: url('../images/blog_slider_1.jpg');
  }
  .slideshow li:nth-child(2) { 
    background-image: url('../images/blog_slider_2.jpg');
    animation-delay: 5s; 
  }
  .slideshow li:nth-child(3) { 
    background-image: url('../images/blog_slider_3.jpg');
    animation-delay: 10s; 
  }
  .slideshow li:nth-child(4) { 
    background-image: url('../images/blog_slider_4.jpg');
    animation-delay: 15s; 
  }
  .slideshow li:nth-child(5) { 
    background-image: url('../images/blog_slider_5.jpg');
    animation-delay: 20s; 
  }
  
  @keyframes imageAnimation { 
    0% { 
      opacity: 0; 
      animation-timing-function: ease-in;
    }
    10% {
      opacity: 1;
      animation-timing-function: ease-out;
    }
    20% {
      opacity: 1
    }
    30% {
      opacity: 0
    }
  }
  
  /* Older browser support - class added by modernizr */
  .no-cssanimations .slideshow li {
      opacity: 1;
  }